body{
  font-family: 'Francois One', sans-serif;
}
#navdiv ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#navdiv li a{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 25px 35px;
  text-decoration: none;
}
#navdiv li a:hover {
    background-color: #111;
}
#navdiv logo {
    float: left;
    padding: 10px 20px;
}