body{
  font-family: 'Thasadith', sans-serif;
  background-color: #36383F;
   margin: 0;

}
#header{
  list-style-type: none;
  text-align:center;
  margin: 0;
  height:85px;
  overflow: hidden;
  background-color: #C70010;
}
#header ul b {
   font-size: 2em;
   text-align: center;
   color:white;
   position: relative;
   bottom:.35em;
  
    
}
#header ul {
   font-size: 2em;
   text-align: center;
   color:white;
   position: relative;
   bottom:.37em;
  
    
}
/* Dropdown Button */
.dropbtn {
    text-align: center;
    color: white;
    position: relative;
    border: none;
    cursor: pointer;
    background:none;
    font-size: 2.75em;
    bottom:.2em;

}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    float: right;
  margin: -80px 25px;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right:0px;
     font-size: 20px;
    background-color: #f1f1f1;
    min-width: 190px;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.center {
  
  margin: 30px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img {
    max-width: 80%;
    height: auto;
    width: auto\9; /* ie8 */
}
